name: spot-interrupter e2e tests

on: [pull_request_target, workflow_dispatch]

permissions:
  contents: read

jobs:
  approve:
    runs-on: ubuntu-latest
    steps:
    - name: Approve
      run: echo Pull requests require approval before running any automated CI.
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [approve]
    environment:
      name: Pull Request Integration
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: stable

    - name: Integration Test
      run: make e2e-test
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
